In [1]:
import pandas as pd
import numpy as np

# Create the sample dataset
data = {
    'age': [25, 45, 58, 33, 29, 41, 36, 44, 53, 27, np.nan, 39, 48, 36, 42],
    'income': [45, 120, 98, 60, 75, 65, 50, 210, 95, 40, 70, 88, 102, 83, 68],
    'loan_amount': [20, 80, 50, 35, 40, 30, 25, 150, 45, 15, 32, 38, 55, 42, 28],
    'credit_score': [650, 720, 810, 680, 590, 640, 610, 830, 740, 600, 690, 710, 780, 670, 625],
    'employment_length': ['1-3yr', '5-10yr', '10+yr', '3-5yr', '<1yr', '1-3yr', '1-3yr', '10+yr', '5-10yr', '<1yr', '3-5yr', '5-10yr', '10+yr', '3-5yr', '1-3yr'],
    'home_ownership': ['Rent', 'Mortgage', 'Own', 'Rent', 'Rent', 'Rent', 'Rent', 'Own', 'Mortgage', 'Rent', 'Mortgage', 'Mortgage', 'Own', 'Mortgage', 'Rent'],
    'loan_intent': ['Personal', 'Venture', 'Home', 'Education', 'Personal', 'Medical', 'Personal', 'Venture', 'Home', 'Education', 'Debt Consolidation', 'Home', 'Venture', 'Medical', 'Debt Consolidation'],
    'loan_status': [1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1]
}

In [2]:
df=pd.DataFrame(data)

In [3]:
df

,age,income,loan_amount,credit_score,employment_length,home_ownership,loan_intent,loan_status
0,25.0,45,20,650,1-3yr,Rent,Personal,1
1,45.0,120,80,720,5-10yr,Mortgage,Venture,0
2,58.0,98,50,810,10+yr,Own,Home,0
3,33.0,60,35,680,3-5yr,Rent,Education,0
4,29.0,75,40,590,<1yr,Rent,Personal,1
5,41.0,65,30,640,1-3yr,Rent,Medical,1
6,36.0,50,25,610,1-3yr,Rent,Personal,1
7,44.0,210,150,830,10+yr,Own,Venture,0
8,53.0,95,45,740,5-10yr,Mortgage,Home,0
9,27.0,40,15,600,<1yr,Rent,Education,1
10,NaN,70,32,690,3-5yr,Mortgage,Debt Consolidation,0
11,39.0,88,38,710,5-10yr,Mortgage,Home,0
12,48.0,102,55,780,10+yr,Own,Venture,0
13,36.0,83,42,670,3-5yr,Mortgage,Medical,1
14,42.0,68,28,625,1-3yr,Rent,Debt Consolidation,1

In [4]:
df.shape

(15, 8)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                14 non-null     float64
 1   income             15 non-null     int64
 2   loan_amount        15 non-null     int64
 3   credit_score       15 non-null     int64
 4   employment_length  15 non-null     object
 5   home_ownership     15 non-null     object
 6   loan_intent        15 non-null     object
 7   loan_status        15 non-null     int64
dtypes: float64(1), int64(4), object(3)
memory usage: 1.1+ KB

In [6]:
df.describe()

             age      income  loan_amount  credit_score  loan_status
count  14.000000   15.000000    15.000000     15.000000    15.000000
mean   39.714286   84.600000    45.666667    689.666667     0.466667
std     9.603113   41.324154    32.906071     75.225059     0.516398
min    25.000000   40.000000    15.000000    590.000000     0.000000
25%    33.750000   62.500000    29.000000    632.500000     0.000000
50%    40.000000   75.000000    38.000000    680.000000     0.000000
75%    44.750000   96.500000    47.500000    730.000000     1.000000
max    58.000000  210.000000   150.000000    830.000000     1.000000

In [8]:
df.dtypes

age                  float64
income                 int64
loan_amount            int64
credit_score           int64
employment_length     object
home_ownership        object
loan_intent           object
loan_status            int64
dtype: object

In [10]:
df.columns

Index(['age', 'income', 'loan_amount', 'credit_score', 'employment_length',
       'home_ownership', 'loan_intent', 'loan_status'],
      dtype='object')

In [11]:
df.isnull().sum()

age                  1
income               0
loan_amount          0
credit_score         0
employment_length    0
home_ownership       0
loan_intent          0
loan_status          0
dtype: int64

In [12]:
df['age']

0     25.0
1     45.0
2     58.0
3     33.0
4     29.0
5     41.0
6     36.0
7     44.0
8     53.0
9     27.0
10     NaN
11    39.0
12    48.0
13    36.0
14    42.0
Name: age, dtype: float64

In [13]:
df['age'].fillna(df['age'].mean(),inplace=True)

In [14]:
df.age

0     25.000000
1     45.000000
2     58.000000
3     33.000000
4     29.000000
5     41.000000
6     36.000000
7     44.000000
8     53.000000
9     27.000000
10    39.714286
11    39.000000
12    48.000000
13    36.000000
14    42.000000
Name: age, dtype: float64

In [15]:
df.isnull().sum()

age                  0
income               0
loan_amount          0
credit_score         0
employment_length    0
home_ownership       0
loan_intent          0
loan_status          0
dtype: int64

In [16]:
df=df.drop_duplicates()

In [19]:
df.shape

(15, 8)

In [20]:
df

,age,income,loan_amount,credit_score,employment_length,home_ownership,loan_intent,loan_status
0,25.000000,45,20,650,1-3yr,Rent,Personal,1
1,45.000000,120,80,720,5-10yr,Mortgage,Venture,0
2,58.000000,98,50,810,10+yr,Own,Home,0
3,33.000000,60,35,680,3-5yr,Rent,Education,0
4,29.000000,75,40,590,<1yr,Rent,Personal,1
5,41.000000,65,30,640,1-3yr,Rent,Medical,1
6,36.000000,50,25,610,1-3yr,Rent,Personal,1
7,44.000000,210,150,830,10+yr,Own,Venture,0
8,53.000000,95,45,740,5-10yr,Mortgage,Home,0
9,27.000000,40,15,600,<1yr,Rent,Education,1
10,39.714286,70,32,690,3-5yr,Mortgage,Debt Consolidation,0
11,39.000000,88,38,710,5-10yr,Mortgage,Home,0
12,48.000000,102,55,780,10+yr,Own,Venture,0
13,36.000000,83,42,670,3-5yr,Mortgage,Medical,1
14,42.000000,68,28,625,1-3yr,Rent,Debt Consolidation,1

# Splitting the data into Train and test

In [24]:
from sklearn.model_selection import train_test_split
X=df.drop('loan_status', axis = 1) #feature
y=df['loan_status'] #target

In [30]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=42)

print(f"Training features shape: {X_train.shape}")
print(f"Testing features shape: {X_test.shape}")
print(f"Training target shape: {y_train.shape}")
print(f"Testing target shape: {y_test.shape}")

Training features shape: (12, 7)
Testing features shape: (3, 7)
Training target shape: (12,)
Testing target shape: (3,)

In [31]:
X_train

,age,income,loan_amount,credit_score,employment_length,home_ownership,loan_intent
13,36.000000,83,42,670,3-5yr,Mortgage,Medical
5,41.000000,65,30,640,1-3yr,Rent,Medical
8,53.000000,95,45,740,5-10yr,Mortgage,Home
2,58.000000,98,50,810,10+yr,Own,Home
1,45.000000,120,80,720,5-10yr,Mortgage,Venture
14,42.000000,68,28,625,1-3yr,Rent,Debt Consolidation
4,29.000000,75,40,590,<1yr,Rent,Personal
7,44.000000,210,150,830,10+yr,Own,Venture
10,39.714286,70,32,690,3-5yr,Mortgage,Debt Consolidation
12,48.000000,102,55,780,10+yr,Own,Venture
3,33.000000,60,35,680,3-5yr,Rent,Education
6,36.000000,50,25,610,1-3yr,Rent,Personal

In [32]:
numerical_cols = ['age', 'income', 'loan_amount', 'credit_score']
categorical_cols = ['employment_length', 'home_ownership', 'loan_intent']

In [33]:
numerical_cols

['age', 'income', 'loan_amount', 'credit_score']

In [34]:
numerical_cols

['age', 'income', 'loan_amount', 'credit_score']

# Preprocessing Pipeline

In [35]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [38]:
numeric_transformer = StandardScaler()
print("Created Numerical Scaler:", numeric_transformer)

Created Numerical Scaler: StandardScaler()

In [39]:
employment_categories = ['<1yr', '1-3yr', '3-5yr', '5-10yr', '10+yr']
ordinal_encoder = OrdinalEncoder(categories=[employment_categories])
print("Created Ordinal Encoder:", ordinal_encoder)

Created Ordinal Encoder: OrdinalEncoder(categories=[['<1yr', '1-3yr', '3-5yr', '5-10yr', '10+yr']])

In [42]:
onehot_encoder = OneHotEncoder(handle_unknown='ignore', drop='first')
print("Created OneHot Encoder:", onehot_encoder)

Created OneHot Encoder: OneHotEncoder(drop='first', handle_unknown='ignore')

In [44]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numerical_cols),       # Scale these number columns
        ('ord_cat', ordinal_encoder, ['employment_length']), # Encode this ordered text column
        ('ohe_cat', onehot_encoder, ['home_ownership', 'loan_intent']) # Encode these non-ordered text columns
    ])

print(f"  - Scale (normalize) these columns: {numerical_cols}")
print(f"  - Ordinal encode this column: ['employment_length']") 
print(f"  - One-hot encode these columns: ['home_ownership', 'loan_intent']")

  - Scale (normalize) these columns: ['age', 'income', 'loan_amount', 'credit_score']
  - Ordinal encode this column: ['employment_length']
  - One-hot encode these columns: ['home_ownership', 'loan_intent']

# FIT and TRANSFORM

In [46]:
print(X_train.iloc[0].to_dict())

{'age': 36.0, 'income': 83, 'loan_amount': 42, 'credit_score': 670, 'employment_length': '3-5yr', 'home_ownership': 'Mortgage', 'loan_intent': 'Medical'}

In [49]:
X_train_processed = preprocessor.fit_transform(X_train)
X_test_processed = preprocessor.transform(X_test)

print("\n✅ AFTER Processing:")
print("X_train_processed shape:", X_train_processed.shape)

print("After processing, X_test_processed shape:", X_test_processed.shape)
print("✅ Test data processed using parameters learned from training data!")

✅ AFTER Processing:
X_train_processed shape: (12, 12)
After processing, X_test_processed shape: (3, 12)
✅ Test data processed using parameters learned from training data!

In [48]:
print("\n--- Final Summary ---")
print(f"Original training data shape: {X_train.shape}")
print(f"Processed training data shape: {X_train_processed.shape}")
print(f"Original test data shape: {X_test.shape}") 
print(f"Processed test data shape: {X_test_processed.shape}")

print("\n🎉 SUCCESS! Your data is now ready for machine learning!")
print("Next step: Feed X_train_processed and y_train to a model!")

--- Final Summary ---
Original training data shape: (12, 7)
Processed training data shape: (12, 12)
Original test data shape: (3, 7)
Processed test data shape: (3, 12)

🎉 SUCCESS! Your data is now ready for machine learning!
Next step: Feed X_train_processed and y_train to a model!